name: amerckcarelogin
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.7.2 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.5
  firebase_core: ^3.15.2
  firebase_auth: ^5.7.0
  google_sign_in: ^6.2.0
  flutter_facebook_auth: ^6.0.3   



dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true 
  assets:
    - assets/images/amerckcarelogo.png
    - assets/images/Glogo.png
    - assets/images/signlogo.png
